*.org.html
**/.ipynb_checkpoints/
.terraform/
.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
src
notebooks/credentials.json
notebooks/token.json
notebooks/CREDENTIALS.config
notebooks/orders.db
dotfiles/.config/obs-studio/logs/
dotfiles/.config/obs-studio/profiler_data/
graph/stardog/orgmode-rdf/parse-org.el
graph/stardog/orgmode-rdf/orgmode-ontology.ttl
**/*.bak
**/.RData
**/.Rhistory
**/.ob-jupyter/