*.org.html
**/.ipynb_checkpoints/
.terraform/
.terraform.lock.hcl
*terraform.tfstate
*terraform.tfstate.backup
src
notebooks/credentials.json
notebooks/token.json
notebooks/CREDENTIALS.config
dotfiles/.config/obs-studio/logs/
dotfiles/.config/obs-studio/profiler_data/
**/*.bak