//@theme "/home/gregj/.guix-profile/share/rofi/themes/DarkBlue.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/DarkBlue.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/fancy.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/iggy.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/dmenu.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/docu.rasi"
//@theme "/run/current-system/profile/share/rofi/themes/fancy.rasi"
@theme "/run/current-system/profile/share/rofi/themes/iggy.rasi"
// @theme "/home/gregj/.config/rofi/sniglet.rasi"
